<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".compose.ComposeActivity" />
        <activity android:name=".product.ui.ProductDetailActivity" />
        <activity android:name=".login.ui.LoginActivity" />
        <activity android:name=".permission.PermissionActivity" />
    </application>

</manifest>