<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".ca_debug.CategoryAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jectpack.Splash">
        <!-- APP StartUp 需要配置的provider -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- This entry makes ExampleLoggerInitializer discoverable. -->
            <meta-data
                android:name="com.fs.libutils.start.ARouterInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.fs.libutils.start.FsCatchInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:authorities="${applicationId}.workmanager-init"
                android:exported="false"
                tools:node="remove" />

            <meta-data
                android:name="com.fs.libutils.start.WorkerInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name=".product.ui.ProductDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.Jectpack"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.ui.LoginActivity"   android:theme="@style/Theme.Jectpack"/>
        <activity android:name=".compose.ComposeActivity"   android:theme="@style/Theme.Jectpack"/>
        <activity android:name=".permission.PermissionActivity"   android:theme="@style/Theme.Jectpack" />
    </application>

</manifest>