<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".HomeActivity" />
        <activity android:name=".country.ui.CountrySelectActivity"/>
        <activity android:name=".mvpdemo.view.SignUpActivity"/>
    </application>

</manifest>